/* basic html styling */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 50px;
}

h1 {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 1em;
}

p {
	margin: 0 0 20px;
}

/* input styling */
.input {
	background: #fff;
	border: 1px solid #c4c4c4;
	color: black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 38px;
	margin: 0;
	outline: none;
	padding: 0 10px;
}

.lt-ie9 .input {
	line-height: 38px;
}

.input:focus {
	border-color: #08c;
	-webkit-box-shadow: 0 0 6px rgba(0,136,204,0.4);
	   -moz-box-shadow: 0 0 6px rgba(0,136,204,0.4);
	        box-shadow: 0 0 6px rgba(0,136,204,0.4);
}
