/* Eric Meyer reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* basic html styling */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 50px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 1em;
}

p {
  margin: 0 0 20px;
}

/* input styling */
.input {
  background: #fff;
  border: 1px solid #c4c4c4;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 38px;
  margin: 0;
  outline: none;
  padding: 0 10px;
}
.lt-ie9 .input {
  line-height: 38px;
}
.input:focus {
  border-color: #08c;
  box-shadow: 0 0 6px rgba(0,136,204,0.4);
}
